<h3>Add article</h3>

<%= form_tag "/connections" do %>

  <p>

    <%= label_tag "group_id" %>
    <%= text_field_tag "group_id" %>

  </p>

  <p>
    <%= label_tag "detail" %>
    <%= text_field_tag "detail" %>
  </p>
 
  <p>
      <%= submit_tag "Add Connection", class: 'button' %>

      or

      <%= link_to "Cancel", "/article" %>
  </p>

<% end %>
