				    <br></br>
				    <br></br>


 <div class="w3-col l10 s10 ">
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
          <h3><b><%= @article.title %></b></h3>
          <h5><%= @article.user.name %>     <span class="w3-opacity"><%= @article.post_time %></span></h5>
        </div>
        <div class="w3-container">
        <img src= <%= @article.url %> ">
        </div>
		<br></br>

        <div class="w3-container">
         <p><%= @article.content %></p>
         <div class="w3-row">
            <div class="w3-col m8 s12">
                </p><a href="/articles" class="w3-button w3-padding-large w3-white w3-border"><b>Back</b></a>
                <a href="/articles/<%= @article.id %>/edit" class="w3-button w3-padding-large w3-white w3-border">Edit</a>	
                 </p>

            </div>
          <div class="w3-col m4 w3-hide-small">
              <a href="/articles/<%= @article.id %>/like" class="w3-button w3-padding-large w3-white w3-border">Likes</a> 

             <span class="w3-badge"><%= @article.like %></span></span>
          </div>
       </div>
     </div>
  </div>

