<%= form_tag "/groups/#{@group.id}", method: 'patch' do %>

  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name" , @group.name%>
  </p>

  <p>
    <%= label_tag "detail" %>
    <%= text_field_tag "detail",@group.detail %>
  </p>

  <p>
      <%= submit_tag %>
  </p>

<% end %>
