
<div class="w3-center w3-padding-16">
<% if cookies["user_id"].present? %>
  <%= link_to "Add an article", "/article/new", class: "btn btn-primary" %>
<% end %>
 
</div>


 <% count = 0%>
<div class="w3-row-padding w3-padding-16 w3-center">
<% @article.each do |article| %>
  <% count = count+1%>
    <% if count == 4 %> 
       </div>
       <div class="w3-row-padding w3-padding-16 w3-center">
       <% count = 0%>
    <% end %>
    <% count = count+1%>
    <div class="w3-quarter">
      <img src= <%= article.url %> style="width:100%">
      <h3><%= link_to article.title, "/article/#{article.id}" %></h3>
      <%= link_to "Delete", "/article/#{article.id}", method: 'delete'%>
      <p><%= article.content %></p>
    </div>
<% end %>
</div>

  