<h3>Add article</h3>

<%= form_tag "/article" do %>

  <p>
    <%= label_tag "title" %>
    <%= text_field_tag "title" %>
  </p>

  <p>
    <%= label_tag "content" %>
    <%= text_field_tag "content" %>
  </p>




   <% if params["group_id"].present? %>
      <%= hidden_field_tag 'group_id', params["group_id"]%>
   <% end %>

 
  <p>
      <%= submit_tag "Add Article", class: 'button' %>

      or

      <%= link_to "Cancel", "/article" %>
  </p>

<% end %>
