				    <br></br>
				    <br></br>


 <div class="w3-col l12 s12">
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
          <h3><b><%= @article.title %></b></h3>
          <h5><%= @article.user.name %>     <span class="w3-opacity"><%= @article.post_time %></span></h5>
        </div>
        <img src="https://www.w3schools.com/w3images/bridge.jpg" alt="Norway" style="width:100%">
		<br></br>

        <div class="w3-container">
         <p><%= @article.content %></p>
         <div class="w3-row">
            <div class="w3-col m8 s12">
                </p><a href="/article" class="w3-button w3-padding-large w3-white w3-border"><b>Back</b></a>
                <a href="/article/<%= @article.id %>/edit" class="w3-button w3-padding-large w3-white w3-border">Edit</a>	
                 </p>

            </div>
          <div class="w3-col m4 w3-hide-small">
             <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
          </div>
       </div>
     </div>
  </div>

