<p><%= link_to "Add a new group", "/group/new", class: 'button' %></p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>title</th>
      </tr>
    </thead>
    <tbody>

      <% @group.each do |group| %>

        <tr>    
            <td><%= link_to "Join", "/connection/#{group.id}" %>
            <td><%= link_to "Show", "/group/#{group.id}" %>
            <td><%= link_to "delete", "/group/#{group.id}" ,method: 'delete' %>
           
            <td><%= group.name %></td>

            <td><%= link_to "Showmember", "/groupmember/#{group.id}" %>

        </tr>

      <% end %>
    </tbody>
  </table>
