<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">SkyBlue</a>
	    </div>
	    <ul class="nav navbar-nav">
<!-- 	      <li class="active"><a href="#">Home</a></li>
 -->	      <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Page 1-1</a></li>
	          <li><a href="#">Page 1-2</a></li>
	          <li><a href="#">Page 1-3</a></li>
	        </ul>
	      </li> -->
	       <li><%= link_to "Group", "/group" %></li>
	      <% if cookies["user_id"].present? %>	      
          <li><%= link_to "My Groups", "/mygroups" %></li>
          <%end%>
           <li><%= link_to "Articles", "/article" %></li>
           <% if cookies["user_id"].present? %>	      
          <li><%= link_to "My Articles", "/myarticle" %></li>
          <%end%>

           <% if cookies["user_id"].present? %>
             <li><%= link_to "Hi,"+User.find_by(id: cookies["user_id"]).name, "/user/#{cookies["user_id"]}" %></li>
           <% end %>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    <% if cookies["user_id"].present? %>	      
          <li><%= link_to "Sign Out", "/logout" %></li>
        <%else%>
          <li><%= link_to "Sign Up", "/users/new" %></li>
          <li><%= link_to "Sign In", "/login" %></li>
         <%end%>
	    </ul>
	  </div>
	</nav>

    <% if notice.present? %>
      <p class="notice"> <%= notice %> </p>
    <% end %>
    <%= yield %>

  </body>
</html>
